<div class="row g-0">
 <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/iv%C3%A1n-ariel-giordano-34591184/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://www.instagram.com/giordvan/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/GiordVan"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/ivangiordano19"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Log In</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
        </div>        
    </div>
 </div>

