.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.redes{
    margin-right: 20px;
}

#logoAP{
    width: auto;
}

img{
    width: 50px;
    margin: 5px;   
    float: center;
}

.btn{
    border-width: medium;
}

@media (max-width: 575px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes img{
    margin: 0.3em;
}
}