<div class="row g-0">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi incidunt expedita tempore, eaque rerum totam similique nisi explicabo ullam. Amet iusto neque ea possimus est fuga dolores voluptates cum!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi incidunt expedita tempore, eaque rerum totam similique nisi explicabo ullam. Amet iusto neque ea possimus est fuga dolores voluptates cum!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi incidunt expedita tempore, eaque rerum totam similique nisi explicabo ullam. Amet iusto neque ea possimus est fuga dolores voluptates cum!</p>
        </ul>
    </div>
</div>